# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# Arquivos gerados pelo Eclipse
*.project
bin/
build/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# Arquivos gerados pelo IntelliJ IDEA
.idea
*.iws
*.iml
out/

# Arquivos gerados pelo Maven
log/
target/
release.properties

# Arquivos gerados pelo vscode
.vscode/